<h1>Your favorite Recipes</h1>

<%= react_component('RecipeList', { recipeList: @favorite_recipes, currentUser: @current_user, favoriteRecipeIds: @current_user.favorite_recipes.pluck(:id), shouldFilter: true })%>
