<h1>Search for recipes by title or ingredients!</h1>

<%= react_component('RecipeSearch', { recipes: @recipes, currentUser: @current_user, favoriteRecipeIds: @current_user&.favorite_recipes&.pluck(:id) || [] }) %>
