.recipe-search {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.recipe-search form {
  margin-bottom: 20px;
}

.recipe-search input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.recipe-search button {
  padding: 8px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.recipe-list {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between recipe cards */
}

.recipe-item {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
}

.recipe-info h3 {
  margin-top: 0;
}

.recipe-info p {
  margin: 5px 0;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.ingredients {
  margin-top: 10px;
}

.ingredients h4 {
  margin-bottom: 5px;
}

.ingredients ul {
  padding-left: 20px;
}

.ingredients li {
  margin-bottom: 5px;
}


.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  flex: 0 0 calc(25% - 20px); /* Set the width of each card */
}

.recipe-card h3 {
  margin-top: 0;
}

.recipe-card .recipe-info {
  display: flex;
  flex-direction: column;
}

.recipe-card .ingredients {
  margin-top: 10px;
}

.recipe-card .ingredients h4 {
  margin-bottom: 5px;
}

.recipe-card .ingredients ul {
  padding-left: 20px;
}

.recipe-card .ingredients li {
  margin-bottom: 5px;
}
